footer {
  padding: 5rem 8rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
  background-color: var(--black);
  color: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav > a {
  padding-bottom: 0.5rem;
  color: white;
}
