@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --lightgreen: #00ff29;
  --green: #03a71d;
  --black: #1b1b1b;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

b {
  font-weight: 700;
}

section {
  padding: 5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

input,
button {
  cursor: pointer;
}

.green {
  color: var(--green);
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-align-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
